@model OrderViewModel

<div class="container mt-3">
    <form asp-controller="Order" asp-action="Create" method="post">
        <h2>Order form</h2>
        <div class="mb-3 mt-3 h6">
            <label asp-for="FullName"></label>
            <br />
            <input asp-for="FullName" />
        </div>
        <div class="mb-3 mt-3 h6">
            <label asp-for="Address"></label>
            <br />
            <input asp-for="Address" />
        </div>

        <div class="mb-3 mt-3 h6">
            <label asp-for="Location"></label>
            <br />
            <input asp-for="Location" />
        </div>
        <br/>

        <label class="h4">Select burger and quantity</label>
        <br />
        <div class="form-check mb-3 h6">
            <label asp-for="Hamburger">Hamburger</label> 
            <br />
            <label for="Quantity">Quantity</label>
            <input asp-for="Hamburger" value="0" type="number" min="0" max="10"/>
        </div>

        <div class="form-check mb-3 h6">
            <label asp-for="Cheeseburger">Cheeseburger</label> 
            <br />
            <label for="Quantity">Quantity</label>
            <input asp-for="Cheeseburger" value="0" type="number" min="0" max="10"/>
        </div>

        <div class="form-check mb-3 h6">
            <label asp-for="Chickenburger">Chickenburger</label> 
            <br />
            <label for="Quantity">Quantity</label>
            <input asp-for="Chickenburger" value="0" type="number" min="0" max="10"/>
        </div>

        <div class="form-check mb-3 h6">
            <label asp-for="Veggieburger">Veggie Burger</label> 
            <br />
            <label for="Quantity">Quantity</label>
            <input asp-for="Veggieburger" value="0" type="number" min="0" max="10"/>
        </div>

        <div class="form-check mb-3 h6">
            <label asp-for="Veganburger">Vegan Burger</label> 
            <br />
            <label for="Quantity">Quantity</label>
            <input asp-for="Veganburger" value="0"  type="number" min="0" max="10"/>
        </div>

        <div class="form-check mb-3 h6">
            <label asp-for="Crispyburger">Crispy Burger</label> 
            <br />
            <label for="Quantity">Quantity</label>
            <input asp-for="Crispyburger" value="0"  type="number" min="0" max="10"/>
        </div>
        <br />

        <label class="h6" asp-for="PaymentMethod">Payment method:</label>
        <select asp-for="PaymentMethod" asp-items="Html.GetEnumSelectList<PaymentMethod>()">
        </select>
        <br/>
        <br />

        <button class="btn btn-primary" type="submit"> Submit </button>
    </form>
</div>