<h1 class="container-fluid" style="text-align:center">@ViewData["GreetUser"]</h1>

<div class="list-group container-fluid" style="text-align:center"><span class="h4">Please select an option below</span>
  <a asp-area="" asp-controller="Order" asp-action="Create" class="list-group-item list-group-item-action">Create order</a>
  <a asp-area="" asp-controller="Order" asp-action="Edit" class="list-group-item list-group-item-action">Edit order</a>
  <a asp-area="" asp-controller="Order" asp-action="Orders" class="list-group-item list-group-item-action">View all orders</a>
</div>
<img style="display: block; margin-left: auto; margin-right: auto;width: 50%;" src="~/css/single-burger.png" alt="single-burger">

