<h1>@ViewData["GreetUser"]</h1>

<div class="list-group">Please select an option below
  <a asp-area="" asp-controller="Order" asp-action="Create" class="list-group-item list-group-item-action">Create order</a>
  <a asp-area="" asp-controller="Order" asp-action="Edit" class="list-group-item list-group-item-action">Edit order</a>
  <a asp-area="" asp-controller="Order" asp-action="Details" class="list-group-item list-group-item-action">View order details</a>
  <a asp-area="" asp-controller="Order" asp-action="Orders" class="list-group-item list-group-item-action">View all orders</a>
</div>

